@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Tajawal", sans-serif;
  line-height: 1.6;
  color: #f3f3f3;
}

body {
  background: radial-gradient(
      circle at top right,
      rgba(241, 210, 70, 0.98),
      rgba(250, 176, 103, 0.87)
    ),
    url("./assets/logo.png"); 
  background-repeat: repeat;
  background-position: center top;
  background-size: cover, 20% auto;
  min-height: 100vh;

  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(234, 179, 8, 0.7);
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(31, 41, 55, 0.6);
}
